<%- include('partials/header'); -%>


    <body id="page-top">

        <!-- Page Wrapper -->
        <div id="wrapper">

            <!-- Sidebar -->
            <%- include('partials/sidenav.ejs'); -%>

                <!-- End of Sidebar -->

                <!-- Content Wrapper -->
                <div id="content-wrapper" class="d-flex flex-column">

                    <!-- Main Content -->
                    <div id="content">

                        <!-- Topbar -->
                        <%- include('partials/navbar.ejs'); -%>
                            <div class="row">
                                <form action="/crew" method="post" style="width: 500px; margin:auto"
                                    enctype="multipart/form-data">
                                    <input type="hidden" name="_id" value="<%= crew._id %>">
                                    <div class="form-outline mb-4">
                                        Name<input type="text" name="name" class="form-control"
                                            value="<%= crew.name %>"><br>
                                        <!-- Option 1: CoreUI for Bootstrap Bundle with Popper -->
                                        <script
                                            src="https://cdn.jsdelivr.net/npm/@coreui/coreui@4.2.0/dist/js/coreui.bundle.min.js"
                                            integrity="sha384-n0qOYeB4ohUPebL1M9qb/hfYkTp4lvnZM6U6phkRofqsMzK29IdkBJPegsyfj/r4"
                                            crossorigin="anonymous"></script>

                                        <!-- Option 2: CoreUI PRO for Bootstrap Bundle with Popper -->
                                        <script
                                            src="https://cdn.jsdelivr.net/npm/@coreui/coreui-pro@4.3.2/dist/js/coreui.bundle.min.js"
                                            integrity="sha384-AekAC2S7WX3JY6Z9cKOFyCsxgzI1Dq3i5zx2j7WhH3DdYA7/qHSzs4j90SCj9DJV"
                                            crossorigin="anonymous"></script>

                                        <select name="active" id="active" class="form-control">
                                            <option value="1" <%=crew.active==true ? "selected" : "" %>>Active
                                            </option>
                                            <option value="0" <%=crew.active==false ? "selected" : "" %>>Inactive
                                            </option>
                                        </select>
                                        <br>
                                        <label for="Image">Crew Image</label><br>
                                        <input type="hidden" name="oldImage" value="<%=crew.Image%>" accept="image/*">
                                        <input type="file" name="Image" accept="image/*">
                                        <img src="/<%=crew.Image%>" height="70" width="70" alt="">
                                        <br>
                                        <div class="d-flex">
                                            <input type="submit" value="Submit"
                                                class="btn btn-primary justify-content-center mt-2">
                                        </div>



                                </form><br><br>


                            </div>
                            <!-- Bootstrap core JavaScript-->
                            <%- include('partials/footer.ejs'); -%>

                                <script>

                                    $(document).ready(function () {
                                        $("#maincollapsePages").removeClass('collapsed');
                                        $("#collapsePages").addClass('show');
                                        $("#Crew").addClass('bg-primary text-white');

                                    });

                                </script>

    </body>

    </html>