<!DOCTYPE html>
<html lang="en">

<head>

    <meta charset="utf-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no">
    <meta name="description" content="">
    <meta name="author" content="">

    <title>Del luna - Dashboard</title>
    <link href="https://cdn.jsdelivr.net/npm/@coreui/coreui-pro@4.3.2/dist/css/coreui.min.css" rel="stylesheet"
        integrity="sha384-EeY9vKy5BpcvZvhMsXk8ZQ8iQPdGN/592RjtQrlRTa8fxPZovarAd02WR1WFFk+/" crossorigin="anonymous">

    <!-- Custom fonts for this template-->
    <link href="../../../vendor/fontawesome-free/css/all.min.css" rel="stylesheet" type="text/css">
    <link
        href="https://fonts.googleapis.com/css?family=Nunito:200,200i,300,300i,400,400i,600,600i,700,700i,800,800i,900,900i"
        rel="stylesheet">

    <!-- Custom styles for this template-->
    <link href="../../../css/sb-admin-2.min.css" rel="stylesheet">
    <!-- <link href="https://cdn.jsdelivr.net/npm/@coreui/coreui@4.2.0/dist/css/coreui.min.css" rel="stylesheet"
        integrity="sha384-UkVD+zxJKGsZP3s/JuRzapi4dQrDDuEf/kHphzg8P3v8wuQ6m9RLjTkPGeFcglQU" crossorigin="anonymous"> -->
    <script src="https://ajax.googleapis.com/ajax/libs/jquery/3.6.1/jquery.min.js"></script>


</head>

<body id="page-top">

    <!-- Page Wrapper -->
    <div id="wrapper">

        <!-- Sidebar -->
        <%- include('partials/sidenav.ejs'); -%>


            <!-- End of Sidebar -->

            <!-- Content Wrapper -->
            <div id="content-wrapper" class="d-flex flex-column">

                <!-- Main Content -->
                <div id="content">

                    <!-- Topbar -->
                    <%- include('partials/navbar'); -%>

                        <!-- End of Topbar -->

                        <!-- Begin Page Content -->
                        <div class="container-fluid">

                            <!-- Page Heading -->
                            <!-- Option 1: CoreUI for Bootstrap Bundle with Popper -->
                            <script src="https://cdn.jsdelivr.net/npm/@coreui/coreui@4.2.0/dist/js/coreui.bundle.min.js"
                                integrity="sha384-n0qOYeB4ohUPebL1M9qb/hfYkTp4lvnZM6U6phkRofqsMzK29IdkBJPegsyfj/r4"
                                crossorigin="anonymous"></script>

                            <!-- Option 2: CoreUI PRO for Bootstrap Bundle with Popper -->
                            <script
                                src="https://cdn.jsdelivr.net/npm/@coreui/coreui-pro@4.3.2/dist/js/coreui.bundle.min.js"
                                integrity="sha384-AekAC2S7WX3JY6Z9cKOFyCsxgzI1Dq3i5zx2j7WhH3DdYA7/qHSzs4j90SCj9DJV"
                                crossorigin="anonymous"></script>

                            <!-- Content Row -->
                            <div class="row">
                                <div class="container">
                                    <!-- Nav tabs -->
                                    <ul class="nav nav-tabs" role="tablist">
                                        <li class="nav-item">
                                            <a class="nav-link " data-toggle="tab"
                                                href="/theaterScreen/slot/<%=screen.id%>">Home</a>
                                        </li>
                                        <li class="nav-item">
                                            <a class="nav-link active" data-toggle="tab"
                                                href="/theaterScreen/slot/menu1/<%=screen.id%>">Menu
                                                1</a>
                                        </li>

                                    </ul>

                                    <!-- Tab panes -->
                                    <div class="tab-content">
                                        <table class=" table  w-100 text-center m-auto mt-5 ">
                                            <thead class="bg-primary  text-white">
                                                <tr>
                                                    <th>
                                                        Id
                                                    </th>
                                                    <th>From</th>
                                                    <th>Time From</th>
                                                    <th>Time To</th>
                                                    <th>Created by</th>
                                                    <th>Edit</th>

                                                </tr>
                                            </thead>
                                            <tbody>
                                                <% slot.forEach((slots,index)=>{ %>
                                                    <tr class="<%=!slots.active && " text-danger"%>">
                                                        <td>
                                                            <%= index+1 %>
                                                        </td>
                                                        <td>
                                                            <%= slots.date1 %>
                                                        </td>

                                                        <td>
                                                            <%= slots.appt %>
                                                        </td>
                                                        <td>
                                                            <%= slots.appt1 %>
                                                        </td>
                                                        <td>
                                                            <%= slots.user_name%>
                                                        </td>
                                                        <td>
                                                            <a href="/theaterScreen/slot/edit/<%=slots.id%>"
                                                                class="btn btn-primary">Edit</a>
                                                        </td>

                                                    </tr>
                                                    <% }) %>
                                            </tbody>
                                        </table>


                                    </div>
                                    <div id="menu1" class="container tab-pane fade"><br>



                                    </div>

                                </div>
                            </div>



                        </div>

                </div>

                <!-- Content Row -->

                <!-- Area Chart -->

                <!-- Pie Chart -->


                <!-- Content Row -->
                <%- include('partials/footer.ejs'); -%>
                    <script>

                        $(document).ready(function () {
                            $("#maincollapsePages").removeClass('collapsed');
                            $("#collapsePages").addClass('show');
                            $("#theater").addClass('bg-primary text-white');

                        });

                    </script>

</body>

</html>